<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            <h1>Bienvenido admin</h1>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img src="https://cdn4.vectorstock.com/i/1000x1000/75/18/geometrical-colorful-banner-welcome-speech-bubble-vector-16957518.jpg" class="welcomeimg" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque beatae aut excepturi, id, ipsam nemo aperiam ratione soluta amet dolores itaque saepe exercitationem. Quod quo dicta, quas asperiores nihil inventore.
            </p>
        </div>
    </div>

</div>